{% extends 'core/base.html' %}
{% block title %}Alquileres{% endblock %}

{% block content %}
<h2>Alquileres</h2>

<a href="{% url 'rental-add' %}" class="btn btn-primary mb-3">Registrar Alquiler</a>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Vehículo</th>
        <th>Fecha Inicio</th>
        <th>Fecha Fin</th>
        <th>Total</th>
        <th>Acciones</th>
    </tr>

    {% for r in rentals %}
    <tr>
        <td>{{ r.id }}</td>
        <td>{{ r.cliente.nombre }}</td>
        <td>{{ r.vehiculo.marca }} {{ r.vehiculo.modelo }}</td>
        <td>{{ r.fecha_inicio }}</td>
        <td>{{ r.fecha_fin }}</td>
        <td>${{ r.total }}</td>

        <td>
            {% if r.estado == "activo" %}
                <span class="btn btn-warning btn-sm">Activo</span>
            {% elif r.estado == "finalizado" %}
                <span class="btn btn-success btn-sm">Finalizado</span>
            {% elif r.estado == "cancelado" %}
                <span class="btn btn-danger btn-sm">Cancelado</span>
            {% endif %}

            <a class="btn btn-info btn-sm" href="{% url 'rental-edit' r.pk %}">Editar</a>
            <a class="btn btn-danger btn-sm" href="{% url 'rental-delete' r.pk %}">Eliminar</a>
        </td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
